---
import { SITE } from '~/config';
import logoUrl from '~/assets/favicons/favicon.svg?url';
---

<div class="flex items-center gap-2 select-none">
  <img src={logoUrl} alt={SITE?.name} width="32" height="32" class="h-8 w-8" loading="eager" decoding="async" />
  <span
    class="self-center ml-1 rtl:ml-0 rtl:mr-1 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</div>
